﻿@page "/productoverview"

@using ProductsServerApp.Data
@using ProductsServerApp.Data.Models
@using ProductsServerApp.Data.ModelsVM
@using ProductsServerApp.Data.Repos
@inject IUnitOfWork uow

<h3>Products</h3>

<h1>Products</h1>

@if(productVMs == null)
{
    <p><em>Loading ...</em></p>
}
else
{
    <table class="table">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Title</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in productVMs)
        {
            <tr>
                <td>@product.ProductID</td>
                <td>@product.Title</td>
                <td>@product.Price</td>
                <td>
                     <a class="btn btn-primary"><i class="oi oi-eye" @onclick="@(() => OpenDetaiDialog())"></i></a>
                     <a class="btn alert-sucess btn-sm" @onclick="@(() => ShowProperties(product.ProductID))">Properties</a>
                </td>
            </tr>
        }
    </tbody>
    </table>
@*    <a href="/">Create a new product</a>*@
    <div>
    @if (props != null)
    {
        <div class="container">
            <div class="row">
                <button class="@btnPropAssigned" @onclick="@(() => ShowAssignedProperties(selProduct))">Assigned Properties</button>
                <button class="@btnPropFree" @onclick="@(() => ShowFreeProperties(selProduct))">Free Properties</button>
            </div>
        </div>
    <table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Notes</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ProductProperties in props)
        {
            <tr>
                <td>@ProductProperties.Title</td>
                <td>@ProductProperties.Notes</td>
                <td>
                </td>
            </tr>
        }
    </tbody>
    </table>
    }
    </div>
}
@if (DetailDialogOpen)
{
    <ProductPropertyProductsDetail 
                 OnClose="@DialogClose">
    </ProductPropertyProductsDetail>
}

@code {
    private List<ProductVM> productVMs;
    private List<ProductProperty> props;

    const string propInactive = "btn btn-secondary, col-sm-6";
    const string propActive = "btn btn-primary, col-sm-6";
    string btnPropFree = propInactive;
    string btnPropAssigned = propActive;

    int selProduct = 0;

    public bool DetailDialogOpen { get; set; }

    private void ShowProperties(int productID)
    {
        selProduct = productID;
        ShowAssignedProperties(productID);
    }

    private async Task ShowAssignedProperties(int productID)
    {
        props = await uow.ProductRepo.GetProductPropFromProductByIdAsync(productID);
        btnPropFree = propInactive;
        btnPropAssigned = propActive;
    }

    private async Task ShowFreeProperties(int productID)
    {
        props = await uow.ProductRepo.GetFreeProductPropFromProductByIdAsync(productID);
        btnPropAssigned = propInactive;
        btnPropFree = propActive;
    }

    protected override async Task OnInitializedAsync()
    {
        productVMs = await uow.ProductRepo.GetProductVMsAsync();
    }

    private async Task DialogClose(bool accepted)
    {
        DetailDialogOpen = false;
        StateHasChanged();
    }
    private void OpenDetaiDialog()
    {
        DetailDialogOpen = true;
        StateHasChanged();
    }   
}
