﻿@using ProductsServerApp.Data.Models

<div class="modal-dialog modal-xl" id="myModal" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Properties</h4>
                <div>
                    <button type="button" class="accordion-header" @onclick=@ChangeViewToUsedProp>Used Properties </button>
                    <button type="button" class="accordion-header" @onclick=@ChangeViewToFreeProp>Available Properties</button>
                </div>
            </div>
            @if (ShowUsedProperties)
            {
                <p></p>
                <h5 style="padding-left:20px">Used Properties</h5>
                <div class="modal-body">
                <table class="table">
                <thead>
                <tr>
                <th>Title</th>
                <th>Notes</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                <td>aaa</td>
                <td>aaa</td>
                </tr>
                </tbody>
                </table>
                </div>
            }
            else
            {
                <p></p>
                <h5 style="padding-left:20px">Available Properties</h5>
                <div class="modal-body">
                <table class="table">
                <thead>
                <tr>
                <th>Title</th>
                <th>Notes</th>
                <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                <td></td>
                </tr>
                </tbody>
                </table>
                </div>
            }
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @onclick=@ModalCancel>OK</button>
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public EventCallback<bool> OnClose { get; set; }
    private bool ShowUsedProperties = true;

    private Task ModalCancel()
    {
        return OnClose.InvokeAsync(false);
    }

    private void ChangeViewToFreeProp()
    {
        ShowUsedProperties = false;
        StateHasChanged();
    }

    private void ChangeViewToUsedProp()
    {
        ShowUsedProperties = true;
        StateHasChanged();
    }
}
