﻿@using ProductsServerApp.Data.Models

<div class="modal-dialog modal-lg" id="myModal" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Details from @user.FirstName</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                <table class="table">
                <thead>
                <tr>
                <th>Created</th>
                <th>Expires</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                <td>@user.Created</td>
                <td>@user.Expires</td>
                </tr>
                </tbody>
                </table>
                </div>        
            </div>
        
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @onclick=@ModalCancel>OK</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public User user { get; set; }

    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    private Task ModalCancel()
    {
        return OnClose.InvokeAsync(false);
    }
}