﻿@page "/useredit"
@page "/useredit/{UserId}"
@using ProductsServerApp.Data

@inject NavigationManager NavManager
@inject IUnitOfWork uow

<section class="user_edit">
    <h1 class="page-title">Details for @User.FirstName @User.LastName</h1>
            <hr />
    <EditForm Model="@User" OnValidSubmit=@OnValidSubmission>
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-btn-group row">
            <label for="lastName" class="col-sm-2 col-form-label"> 
                Last name: 
            </label>
            <div class="col-sm-10">
                @*Last name*@
                <InputText id="lastName" @bind-Value="@User.LastName" class="form-control" placeholder="Enter lastname"/>
                <ValidationMessage For="() => User.LastName" class="col" />
            </div>
            <label for="firstName" class="col-sm-2 col-form-label"> 
                First Name: 
                </label>
            <div class="col-sm-10">
                @*First name*@
                <InputText id="firstName" @bind-Value="@User.FirstName" class="form-control" placeholder="Enter firstname"/>
                <ValidationMessage For="() => User.FirstName" class="col" />
            </div>
            <label for="loginName" class="col-sm-2 col-form-label"> 
                Login Name: 
                </label>
            <div class="col-sm-10">
                @*Login name*@
                <InputText id="loginName" @bind-Value="@User.LoginName" class="form-control" placeholder="Enter loginname"/>
                <ValidationMessage For="() => User.LoginName" class="col" />
            </div>
            @if(@UserId != null)
            {
                <label for="password" class="col-sm-2 col-form-label"> Password: </label>
                <div class="col-sm-10">
                @*Old Password Validator*@
                <InputText id="password" type="password" @bind-Value="@oldPassword" class="form-control" placeholder="Enter password"/>
                <i class ="alert-danger"> @passwordError</i>
                </div>
                <label for="newPassword" class="col-sm-2 col-form-label"> New Password: </label>
                <div class="col-sm-10">
                @*Updated Password*@
                <InputText id="NewPassword" type="password" @bind-Value="@newPassword" class="form-control" placeholder="Enter new password"/>
                </div>
            }
            else
            {
                <label for="password" class="col-sm-2 col-form-label"> Password: </label>
                <div class="col-sm-10">
                @*Password*@
                <InputText id="password" type="password" @bind-Value="@User.Password" class="form-control" placeholder="Enter password"/>
                <ValidationMessage For="() => User.Password" class="col" />
                </div>
            }
        </div>
        <p/>
        <input class="btn btn-primary" type="submit" value="Submit" style="float: right">
    </EditForm>
</section>
