﻿@page "/useroverview"
@using ProductsServerApp.Data
@using ProductsServerApp.Data.Models
@inject IUnitOfWork uow

<PageTitle> User List</PageTitle>

<h1> User List</h1>

@if (users == null)
{
    <p><em>Loading. . .</em></p>
}
else
{
    <table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Nachname</th>
            <th>Login</th>
            <th>Password</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in users)
        {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.LoginName</td>
                <td>@user.Password</td>
                <td><a class="btn btn-primary" href="@($"useredit/{user.UserID}")"><i class="oi oi-pencil"></i></a>
                    <a class="btn btn-primary"><i class="oi oi-trash" @onclick="@(() => DeleteUser(user.UserID))"></i></a>
                    <a class="btn btn-primary"><i class="oi oi-eye" @onclick="@(() => OpenDetaiDialog(user))"></i></a>
                </td>
            </tr>
        }
    </tbody>
    </table>
    <a href="/useredit">Create a new user</a>
}
@if (DetailDialogOpen)
{
    <UserDetail 
                 User = "@User"
                 OnClose="@DialogClose">
    </UserDetail>
}

@code {
    private List<User> users;

    protected override async Task OnInitializedAsync()
    {
        users = await uow.UserRepo.GetAllUsersAsync();
    }

    protected async Task DeleteUser(int id)
    {
        await uow.UserRepo.DelUserAsync(id);
        await uow.CommitAsync();
        users = await uow.UserRepo.GetAllUsersAsync();
    }

    private async Task DialogClose(bool accepted)
    {
        DetailDialogOpen = false;
        StateHasChanged();
    }
    private void OpenDetaiDialog(User user)
    {
        DetailDialogOpen = true;
        User = user;
        StateHasChanged();
    }   
    public bool DetailDialogOpen { get; set; }
    public User User { get; set; }
}
