﻿@page "/orderedit"
@page "/orderedit/{OrderNr}"
@using ProductsServerApp.Data

@inject NavigationManager NavManager
@inject IUnitOfWork uow

<section class="user_edit">
    <h1 class="page-title">Order @Order.OrderNr</h1>
            <hr />
    <EditForm Model="@Order">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-btn-group row">
@*          <label for="orderNr" class="col-sm-2 col-form-label"> 
                Order Nr: 
            </label>
            <div class="col-sm-10">
                @*Order Nr
                <InputNumber id="orderNr" @bind-Value="@Order.OrderNr" class="form-control" placeholder="Enter order number"/>
                <ValidationMessage For="() => Order.OrderNr" class="col" />
            </div>*@
            <label for="orderDate" class="col-sm-2 col-form-label"> 
                Order Date: 
                </label>
            <div class="col-sm-10">
                @*Order Date*@
                <InputDate id="orderDate" @bind-Value="@Order.OrderDate" class="form-control"/>
                <ValidationMessage For="() => Order.OrderDate" class="col" />
            </div>
            <label for="orderUser" class="col-sm-2 col-form-label">
                User:
            </label>
            <div class="col-sm-10">
                <InputSelect @bind-Value="@User" class="form-control">
                    @if (Users != null)
                    {
                        @foreach(var user in Users)
                        {
                            <option value="@user">@user.LoginName</option>
                        }
                    }
                </InputSelect>
                <ValidationMessage For="() => Order.User" class="col" />
            </div>
        </div>
        <p/>
        <input class="btn btn-primary" type="submit" value="Submit" style="float: right">
    </EditForm>
</section>

