﻿@page "/orderoverview"
@using ProductsServerApp.Data
@using ProductsServerApp.Data.Models
@inject IUnitOfWork uow

<PageTitle> Order List</PageTitle>

<h1> Order List</h1>

@if (orders == null)
{
    <p><em>Loading. . .</em></p>
}
else
{
    <table class="table">
    <thead>
        <tr>
            <th>Order Nr</th>
            <th>Order Date</th>
            <th>User</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in orders)
        {
            <tr>
                <td>@order.OrderNr</td>
                <td>@order.OrderDate</td>
                <td>@order.User.UserID</td>
                <td><a class="btn btn-primary" href="@($"orderedit/{order.OrderNr}")"><i class="oi oi-pencil"></i></a>
                    <a class="btn btn-primary"><i class="oi oi-trash" @onclick="@(() => DeleteOrder(order))"></i></a>
                    <a class="btn btn-primary"><i class="oi oi-eye"></i></a>
                </td>
            </tr>
        }
    </tbody>
    </table>
    <a href="/orderedit">Create a new order</a>
}
@code {
    private List<Order> orders;

    protected override async Task OnInitializedAsync()
    {
        orders = await uow.OrderRepo.GetAllOrdersAsync();
    }

    protected async Task DeleteOrder(Order order)
    {
        await uow.OrderRepo.DelOrderAsync(order);
        await uow.CommitAsync();
        orders = await uow.OrderRepo.GetAllOrdersAsync();
    }
}
